{
  "presets": [
    [
      "@babel/preset-env",
      {
        "corejs": {
          "version": 3,
          "proposals": true
        },
        "useBuiltIns": "usage"
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    [
      "babel-plugin-styled-components",
      {
        "ssr": true
      }
    ],
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@root": "./",
          "@client": "./src/client",
          "@shared": "./src/shared",
          "@server": "./src/server",
          "@tools": "./tools"
        },
        "transformFunctions": ["module.hot.accept"]
      }
    ],
    "react-hot-loader/babel",
    "@babel/plugin-syntax-dynamic-import"
  ]
}
