@import './utilities.css';
@import './components.css';

@config "../../tailwind.config.ts";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    --ui-expressive: '';
    --ui-functional: '';
    --ui-fallback: '';
    @apply ui-font-functional;
  }
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src:
    local('Montserrat Regular'),
    local('Montserrat-Regular'),
    url('/fonts/montserrat-v14-latin-regular.woff2') format('woff2'),
    url('/fonts/montserrat-v14-latin-regular.woff') format('woff');
}
/* montserrat-600 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src:
    local('Montserrat SemiBold'),
    local('Montserrat-SemiBold'),
    url('/fonts/montserrat-v14-latin-600.woff2') format('woff2'),
    url('/fonts/montserrat-v14-latin-600.woff') format('woff');
}

/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src:
    local('Open Sans Regular'),
    local('OpenSans-Regular'),
    url('/fonts/open-sans-v17-latin-regular.woff2') format('woff2'),
    url('/fonts/open-sans-v17-latin-regular.woff') format('woff');
}
